@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General style for all <a> tags */
a {
  color: #87cefa; /* Light blue (SkyBlue) */
  text-decoration: none; /* Remove underline by default */
}

/* Hover state */
a:hover {
  color: #add8e6; /* Lighter blue (LightBlue) */
  text-decoration: underline; /* Add underline on hover for emphasis */
}

/* Visited state */
a:visited {
  color: #b0e0e6; /* Pale blue for visited links */
}

/* Active state */
a:active {
  color: #5f9ea0; /* Slightly darker blue for active links */
}